<h1>Rejestracja</h1>

<form method="POST">

     <label for="email">Email</label> <br>
     <input type="email" name="email" id="emial" required> <br>

     <label class="mt-2" for="password">Hasło</label> <br>
     <input type="password" name="password" id="password" required> <br>

     <button class="btn btn-success mt-3">Zarejestruj</button>

</form>