<div
     class="position-absolute top-50 start-50 translate-middle z-1 bg-secondary-subtle border border-dark-subtle rounded-4 rounded p-4 hidden">

     <div class="d-flex justify-content-center">
          <button class="btn-add-income activedIncome income me-2">DOCHÓD</button>
          <button class="btn-add-cost cost">KOSZT</button>
     </div>

     <%- include('partials/add-income') %>
          <%- include('partials/add-cost') %>

</div>