<h1>Dodaj portfel</h1>

<a href="/" class="btn btn-info mb-3">Strona główna</a>
<a href="/panel/portfele" class="btn btn-info mb-3">Portfele</a>

<form method="POST">

     <label for="">Nazwa</label> <br>
     <input type="text" name="name" id=""> <br>
     <label for="">Kwota</label> <br>
     <input type="number" name="amount" id=""> <br>

     <button class="btn btn-success mt-3">ZATWIERDŹ</button>

</form>