<h1>Stwórz kategorie dochodu</h1>

<a href="/" class="btn btn-info mb-3">Strona główna</a>
<a href="/panel/kategorie" class="btn btn-info mb-3">KATEGORIE</a>

<form method="POST">

     <label for="">Nazwa kategorii</label> <br>
     <input type="text" name="category" id=""> <br>

     <button class="btn btn-success mt-2">Zatwierdź</button>

</form>