<h1 class="mb-2">Dodaj Dochód</h1>
<a href="/" class="btn btn-info mb-3">Strona główna</a>

<form method="POST">

     <a class="btn btn-success" href="/panel/dodaj/dochod">DOCHÓD</a>
     <a class="btn btn-danger" href="/panel/dodaj/koszt">KOSZT</a>


     <div class="mb-3 mt-3"><label for="">Nazwa</label><br>
          <input type="text" name="name"><br>
     </div>
     <div class="mb-3"><label for="">Kwota</label><br>
          <input type="number" name="amount"><br>
     </div>
     <div class="mb-3"><label for="">Portfel</label><br>
          <select name="wallet" id="">
               <% wallets.forEach(wallet=> { %>
                    <option value="<%- wallet.name %>"><%- wallet.name %></option>
                    <% }) %>
          </select>
     </div>
     <div class="mb-3"><label for="">Kategoria</label><br>
          <select name="category" id="">
               <option value="Brak kategorii">Brak kategorii</option>
               <% categories.forEach(x=> { %>
                    <option value="<%- x.category %>"><%- x.category %></option>
                    <% }) %>`
          </select>
     </div>
     <div class="mb-3"><label for="">Data</label><br>
          <input type="date" name="date">
     </div>

     <button class="btn btn-success">Zatwierdź</button>

</form>