<h1 class="mb-2">Dodaj Dochód/Koszt</h1>
<a href="/" class="btn btn-info mb-3">Strona główna</a>

<form method="POST">

     <a class="btn btn-success" href="/panel/dodaj/dochod">DOCHÓD</a>
     <a class="btn btn-danger" href="/panel/dodaj/koszt">KOSZT</a>